minuet/utils/tcl/video_stream/*
minuet/test/*
!minuet/test/minuet-test-suite.cc
minuet/utils/log/*
!minuet/utils/log/analise_concordancia.py
!minuet/utils/log/analise_cluster.py
!minuet/utils/log/analise_mensagens.py
!minuet/utils/log/analise_pacotes.py
!minuet/utils/log/analise_latencia.py
!minuet/utils/log/analise_fluxo.py
!minuet/utils/log/analise_retransmissores.py
!minuet/utils/log/analise_eleicoes.py
minuet/utils/trace/base_station/*
!minuet/utils/trace/base_station/TraceBaseStations-RTT.bs
!minuet/utils/trace/base_station/README
minuet/utils/trace/events/*
!minuet/utils/trace/events/TraceEvents-RTT.ev
!minuet/utils/trace/events/README
minuet/utils/trace/tcl/*
!minuet/utils/trace/tcl/.gitignore